<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-cloud"></i>
    <h1 class="display-3">Weather app</h1>
    <p class="lead">Get the weather that you want to any at anytime</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
